In [1]:
from google.colab import drive
drive.mount("/content/gdrive")
%cd "/content/gdrive/MyDrive/Colab Notebooks/data"

Mounted at /content/gdrive
/content/gdrive/MyDrive/Colab Notebooks/data

In [2]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np


!pip install seaborn -q
import seaborn as sns

In [5]:
dfFinancial = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/data/Financial_services.csv')

In [6]:
dfFinancial.head()

,Unnamed: 0,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,...,book_value,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,netincome,EPS,EPSP,R,RNQ,size
0,182626,MFA,2000q1,8774.3906,6966.395,0.0000,0.0,-313.244960,0.000,0.000,...,64922.504,1.338863,NaN,0.000000,1494.750640,0.167613,0.093744,NaN,NaN,small
1,243092,RGLD,2000q1,2393.9031,150.575,1105.0649,0.0,0.000021,-27.352,23.312,...,15656.633,0.258881,0.056599,0.000000,1142.303221,0.064927,0.024037,NaN,NaN,small
2,200256,NLY,2000q1,24616.7810,19292.953,0.0000,0.0,-475.466130,0.000,0.000,...,108966.348,0.880961,NaN,0.000000,4848.361870,0.352778,0.514068,NaN,NaN,small
3,210426,OHI,2000q1,26117.0000,0.000,7633.0000,0.0,-4500.000000,10966.000,0.000,...,448018.000,3.526098,NaN,0.544656,3018.000000,0.149941,0.102220,NaN,NaN,small
4,209706,OFC,2000q1,25861.0000,0.000,13135.0000,0.0,-2142.000000,6934.000,0.000,...,303725.000,2.100750,NaN,0.560957,3650.000000,0.206699,0.071325,NaN,NaN,small

In [7]:
dfQ1 = dfFinancial.loc[dfFinancial['q'] == '2022q1']
dfQ1

,Unnamed: 0,firm,q,revenue,cogs,sgae,otheropexp,extraincome,finexp,incometax,...,book_value,BookToMarketRatio,ShortFinancialLeverage,LongFinancialLeverage,netincome,EPS,EPSP,R,RNQ,size
32284,146536,IMH,2022q1,7.190000e+03,0.0,19357.00000,0.000,1.089000e+04,-116.000,23.0,...,6.745000e+03,0.419169,0.559075,0.250562,-1.184000e+03,-0.055185,-0.073580,-0.985817,-1.296143,small
32285,181004,MDRR,2022q1,2.903964e+03,0.0,3138.36210,0.000,8.653803e+01,841.424,0.0,...,2.281162e+04,1.315320,NaN,0.000000,-9.892840e+02,-0.060465,-0.059430,-0.598088,-0.424840,small
32286,109381,FGF,2022q1,1.520000e+02,0.0,3975.00000,0.000,0.000000e+00,0.000,0.0,...,2.980200e+04,1.678095,NaN,0.000000,-3.823000e+03,-0.585631,-0.215266,-0.536052,-1.861209,small
32287,214023,OPHC,2022q1,3.463000e+03,236.0,0.00000,0.000,-2.082000e+03,0.000,290.0,...,4.931700e+04,2.391883,NaN,0.050675,8.550000e+02,0.174579,0.041468,0.084208,-0.187351,small
32288,312744,WHLR,2022q1,1.549700e+04,0.0,10805.00000,0.000,-4.657000e+03,4615.000,0.0,...,9.177500e+04,4.104937,NaN,0.719820,-4.580000e+03,-0.471168,-0.204855,-0.488847,-0.689202,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32958,312204,WFC,2022q1,1.018100e+07,960000.0,0.00000,0.000,-4.843000e+06,0.000,707000.0,...,1.816890e+08,0.982881,NaN,0.079052,3.671000e+06,0.962366,0.020105,0.230240,-0.127047,big
32959,34012,BAC,2022q1,1.289400e+07,1322000.0,0.00000,0.000,-3.693000e+06,0.000,812000.0,...,2.666170e+08,0.801525,NaN,0.086069,7.067000e+06,0.875734,0.021368,0.082334,-0.260460,big
32960,157426,JPM,2022q1,1.549600e+07,1624000.0,0.00000,0.000,-3.809000e+06,0.000,1781000.0,...,2.858990e+08,0.714071,NaN,0.074150,8.282000e+06,2.819836,0.021023,-0.086785,-0.297857,big
32961,296814,UNH,2022q1,8.014900e+07,73199000.0,0.00000,0.000,-1.210000e+05,433000.000,1369000.0,...,7.612800e+07,0.158656,0.030271,0.184399,5.027000e+06,5.342762,0.010514,0.328641,0.262214,big
32962,241020,REFI,2022q1,9.833053e+03,0.0,556.14099,1400.692,-1.484380e-04,72.268,0.0,...,2.693845e+05,NaN,0.000000,0.000000,7.803952e+03,NaN,NaN,NaN,NaN,NaN

In [8]:
dfQ1.columns

Index(['Unnamed: 0', 'firm', 'q', 'revenue', 'cogs', 'sgae', 'otheropexp',
       'extraincome', 'finexp', 'incometax', 'totalassets', 'totalliabilities',
       'shortdebt', 'longdebt', 'stockholderequity', 'adjprice',
       'originalprice', 'sharesoutstanding', 'fiscalmonth', 'year', 'cto',
       'Name', 'Sector NAICS\nlevel 1', 'market_value', 'book_value',
       'BookToMarketRatio', 'ShortFinancialLeverage', 'LongFinancialLeverage',
       'netincome', 'EPS', 'EPSP', 'R', 'RNQ', 'size'],
      dtype='object')

In [9]:
df = dfQ1[['revenue', 'adjprice', 'BookToMarketRatio', 'EPSP']]

In [39]:
df = df.dropna()

In [40]:
df.head()

          revenue  adjprice  BookToMarketRatio      EPSP
32284   7190.0000  0.750000           0.419169 -0.073580
32285   2903.9641  1.017413           1.315320 -0.059430
32286    152.0000  2.720500           1.678095 -0.215266
32287   3463.0000  4.210000           2.391883  0.041468
32288  15497.0000  2.300000           4.104937 -0.204855

In [41]:
def VarCovMatriz(matriz):
  matrizT = matriz.T
  n = matriz.shape[0]
  vectorUno = np.full((n, 1),1)
  print(vectorUno.shape)
  return (1 / (n - 1)) * (matrizT.dot(matriz) - (1 / n) * (matrizT.dot(vectorUno)).dot(matrizT.dot(vectorUno).T))

In [42]:
VarCovMatriz(df)

(678, 1)

                        revenue      adjprice  BookToMarketRatio         EPSP
revenue            2.002035e+13  1.402864e+08     -170986.234859  6208.131865
adjprice           1.402864e+08  1.212655e+04         -13.886479     0.096086
BookToMarketRatio -1.709862e+05 -1.388648e+01           0.393432     0.009306
EPSP               6.208132e+03  9.608550e-02           0.009306     0.008806

In [13]:
df.cov()

                        revenue      adjprice  BookToMarketRatio         EPSP
revenue            1.999207e+13  1.401376e+08     -170986.234859  6208.131865
adjprice           1.401376e+08  1.211136e+04         -13.886479     0.096086
BookToMarketRatio -1.709862e+05 -1.388648e+01           0.393432     0.009306
EPSP               6.208132e+03  9.608550e-02           0.009306     0.008806